body {
    background-color: var(--black1);
}

.question-title {
    font-family: inherit;
    font-size: 20px;
    font-style: normal;
    font-weight: 375;
    text-decoration: none;
    color: #0C425A;
    line-height: 1.25;
    padding: 15px 0 15px 0;
}

.question-container {
    margin: 0 20px 0 20px;
}

.question {
    font-family: inherit;
    font-size: 20px;
    font-style: normal;
    font-weight: 300;
    text-decoration: none;
    color: #000000;
    line-height: 1.25;
}

.title-CBQ {
    font-family: inherit;
    font-size: 50px;
    font-weight: 400;
    text-decoration: none;
    color: #0C425A;
    line-height: 1.25;
    padding-bottom: 15px;
    margin-left: 15px;
}

.container-CBQ {
    display: flex;
    flex-direction: column;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 5px 10px rgb(0 0 0 / 15%);
    margin-top: 15px;
    margin-bottom: 15px;
    width: 75%;
}

.question-text-area {
    width: 100%;
    min-height: 50px;
    max-height: 100px;
    border-radius: 5px;
    padding-left: 15px;
    border: 1px solid #ccc;
    border-bottom-width: 2px;
    transition: all 0.3s ease;
}

.button-CBQ {
    height: 100%;
    width: 100%;
    border-radius: 5px;
    border: none;
    color: #fff;
    font-size: 18px;
    font-weight: 500;
    letter-spacing: 1px;
    cursor: pointer;
    transition: all 0.3s ease;
    background: linear-gradient(180deg, var(--gold1) 0%, var(--gold2) 100%);
    text-decoration: none;
    color: var(--black2);
    box-shadow: var(--shadow) var(--color_shadow);
    border-radius: 6px;
}

.button-container-CBQ {
    width: 15%;
    height: 45px;
    margin: 35px 0 15px 15px;
}

.form-select {
    color: #175F77;
    border-radius: 5px;
    padding-left: 15px;
    border: 1px solid #ccc;
    border-bottom-width: 2px;
    transition: all 0.3s ease;
    font-size: 15px;
}

.main-CBQ {
    display: flex;
    align-items: center;
    justify-content: center;
}



@media screen and (max-width:500px) {

    .button-container-CBQ {
        width: 35%;
    }

    .question-title {
        font-size: 15px;
        padding: 10px 0 10px 0;
    }
}